.stApp{

background:

radial-gradient(

circle at top,

#020617,

#020617,

#020617,

#020617,

#0f172a

);

color:white;

font-family:

Inter;

}


/* neon cards */

.block-container{

padding:2rem;

border-radius:20px;

background:

rgba(255,255,255,0.03);

backdrop-filter:

blur(25px);

}


/* buttons */

button{

background:

linear-gradient(

45deg,

#9333ea,

#06b6d4

);

border-radius:12px;

transition:0.3s;

}

button:hover{

transform:translateY(-2px);

box-shadow:

0 0 20px #06b6d4;

}


/* inputs */

textarea,input{

background:#020617 !important;

border-radius:10px;

color:white !important;

}
